@import 'reset.less';
@import 'global.less';

@import 'variables.less';
@import 'mixins.less';

header {
  position: fixed;
  z-index: 1000;
  width: 100vw;
  .menu-btn {
    position: absolute;
    z-index: 1100;
    right: 2rem;
    top: 2rem;
    cursor: pointer;
    transition: all 1s ease-in-out;
    .btn-line {
      width: 1.8rem;
      height: 2px;
      margin: none;
      margin-bottom: 5px;
      background: @font-color;
    }
  }
  .menu-btn.close {
    .btn-line {
      &:nth-child(1) {
        transform: rotate(45deg) translate(0rem, 0rem);
      }
      &:nth-child(2) {
        display: none;
      }
      &:nth-child(3) {
        transform: rotate(-45deg) translate(0.3rem, -6px);
      }
    }
  }
  .menu {
    display: none;
  }
  .show {
    display: flex;
  }
}
